<div class="task-template">
  <div class="task-content">
    <div class="complete-task">
      <i *ngIf="task.completed" (click)="onChangeTaskStatus(task)" class="gg-check"></i>
      <i *ngIf="!task.completed" (click)="onChangeTaskStatus(task)" class="gg-shape-circle"></i>
    </div>
    <div class="task-label" [class.done]="task.completed">{{task.label}}</div>
    <div class="task-date" [class.done]="task.completed">{{task.date | myPipe}}</div>
  </div>
  <div class="remove-task" (click)="onRemoveTask(task)">
    <i class="gg-math-plus"></i>
  </div>
</div>
